*.swp
*.o
*.so

# Makefiles are generated through extconf.rb's
# with mkmf ruby library; so we don't want to
# keep them versioned.
Makefile

# logs apropos makefile creation
mkmf.log

# osx compilation files
*.bundle
conftest.dSYM/


Gemfile.lock
*.gem
pkg/*

